.image{
    height: 350px;
    border-radius: 15px;
    @media (max-width: 897px) {
        height: 250px;
    }
    
}
.mt-pajarito{
    margin-top: 200px;
}
.logo-carta{
    height: 150px;
    width: 150px;
	align-self: center;
}
.bg-card{
    background-color: transparent;
    border: solid 3px white;
    color: white;
}