.logo-redes{
    width: 30px;
    margin-top: 10px;
}
.logo-contacto{
    width: 20px;
}
.line3{
    height:200px;
    background-color: red;
    border-radius: 15px;
    width: 3px;
    
}
.contact{
    font-size: 20px;
}
.mediante{
    font-size: 25px;
}
.fondo-pc{
    background-image: url(../assets/pc-1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.fondo-niga{
    background-color: #0000008f;
}