.fondoheader{
    color: white;
    background-color:gray;
    background-image:url(../assets/fondoHeader.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
  }
  .button{
    padding: auto;
    width: auto;
    color: #ffff;
    background-color: transparent;
    border: white;
    border-radius: 15px;

    
    
}
.button:hover{
    cursor: pointer;
    transform: scale(1.1);
    color: orangered;
    transition: 0.5s;
    
}